@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Mr+Dafoe&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  background: linear-gradient(
    90deg,
    hsla(88, 38%, 15%, 1) 0%,
    hsla(74, 32%, 32%, 1) 100%
  );
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

#content {
  background: #fefae0;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family: "Kaushan Script", cursive;
  color: #000;
  font-size: 6vw;
  justify-self: start;
}

header {
  background: #bc6c25;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: flex-start;
  padding: 2%;
}

header > img {
  width: 60%;
  margin: 2%;
  justify-self: end;
}

main {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  gap: 15px;
}

main > div {
  display: grid;
}

main > img {
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

section {
  padding: 15px;
  background: #dda15e;
  display: grid;
  justify-items: center;
}

section:hover {
  background: #bc6c25;
}

.active {
  background: #bc6c25;
  font-weight: 400;
}

@media only screen and (max-width: 1500px) {
  #content {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {

  nav {
    grid-template-columns: auto;
  }

  main {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 550px) {
  #content {
    width: 100%;
  }
}
